body {background-color: #fcfef1;}
.main {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.info {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 97%;
}

.topline {
    position: relative;
    border-bottom: 1px solid #9daaa2;
    margin-top:10px;
    padding-bottom: 6px;
    width: 100%;
    left: 0;
}

.logo {
    display: block;
    position: relative;
    width: 450px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 45px;
}

.button {
    border: none;
    color: white;
    width: 400px;
    height: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}

.button1 {
    background-color: white;
    color: black;
    border: 1px solid #d4a29c;
}

.button1:hover {
    background-color: #9daaa2;
    color: white;
    border: 1px solid #9daaa2;
    width: 408px;
    height: 53px;
    transform: translateY(-5px);
}

div.center {
    display: flex;
    justify-content: center;
}

div.text_center {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.buttoncontainer {
    position: relative;
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
}

.buttoncontainer1 {
    position: relative;
    width: 100%;
    height: 55px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.txtstyle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.font_red { color: red; }